// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$navbar-dark-color: #353F80;
$btn-color: #FFC82B;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here*

header {
  background-color: #353F80;
}

main {
  background-color: #F0EDED;
  font-family: 'Raleway', sans-serif;
  color: #353F80;
}

.navbar {
  background-color: #353F80;
  font-family: 'Raleway', sans-serif;
}

.nav-item a {
  color: #ffffff;
}

.logo {
  width: 60px;
}

.social-links img {
  width: 35px;
  align-self: center;
}

.social-links {
  list-style-type: none;
  align-items: center;
  padding: 0 5px 0 5px;
}

.social-nav {
  padding: 0 10px 0 10px;
}

.btn {
  background-color: #FFC82B;
  border-radius: 50px;
  padding: 5px 20px 5px 20px;
  color: #353F80;
  border: none;
}

.btn:hover {
  background-color: #ee9ec5;
  color: #353F80;
}

.hero {
  height: 80vh;
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.title-sect-1 {
  background-image: url(../images/checks1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.title-sect-2 {
  background-image: url(../images/checks2.png);
}

.title-sect-3 {
  background-image: url(../images/checks3.png);
}

.title-sect {
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.title {
  margin: auto;
  text-align: center;
  margin-top: -35px;
}

.title h1 {
  margin: auto;
  text-align: center;
  background-color: #FFC82B;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 1rem;
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #353F80;
  width: 30rem;
}

.banner h1 {
  color: #ffffff;
  font-size: 3rem;
}

.banner {
  margin: auto;
  text-align: center;
  padding-top: 2rem;
}

.cta {
  padding: 40px;
  border-radius: 20px;
  margin: auto;
  width: 50%;
  min-width: 300px;
  max-width: 400px;
  text-align: center;
  font-size: 2rem;
  color: #FFFFFF;
  background-color: rgb(0 0 0 / 60%);
  margin-top: 15%;
}

.performers-grid {
  padding: 4rem;
}

.perf-col {
  margin-bottom: 2rem;
}

.blog-stacked {
  margin: 0 auto;
  width: 30%;
  padding: 4rem 0 4rem 0;
}

.card {
  box-shadow: 2px 2px 2px #dadada;
  color: #353F80;
}

.card img {
  width: 100%;
}

.contact-card {
  width: 50%;
  margin: 2rem auto;
}

.contact-form {
  padding-bottom: 5rem;
}

#exampleInputFirstName, #exampleInputLastName, #exampleFormControlTextarea1, #exampleInputEmail1 {
  background-color: #353F80;
  opacity: 10%;
}

.submit-btn {
  background-color: #353F80;
  color: #ffffff;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
}

footer {
  background-color: $navbar-dark-color;
  height: 20vh;
}

.footer-links {
  margin: 20px auto;
  text-align: center;
}

.footer-social-links {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 10rem;
  margin: auto;
}

@media (max-width: 990px) {

  .social-nav {
    display: none;
  }

}
