// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$navbar-dark-color: #353F80;
$btn-color: #FFC82B;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here*

header {
  background-color: #353F80;
}

.navbar {
  background-color: #353F80;
}

.nav-item a {
  color: #ffffff;
}

.logo {
  width: 60px;
}

.btn {
  background-color: #FFC82B;
  border-radius: 50px;
  padding: 5px 20px 5px 20px;
  color: #353F80;
}

body {
  background-image: url(../images/familycrow.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  height: 80vh;
}

.banner h1 {
  color: #ffffff;
}

.banner {
  margin: auto;
}

footer {
  background-color: #353F80;
  height: 20vh;
}